.App {
  text-align: center;

  background-color: #1d1d1d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.no-hover {
  pointer-events: none; /* Disable pointer events on the options */
}
